@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
      url(../fonts/SFProDisplay-Regular.woff) format("woff"),
      url(../fonts/SFProDisplay-Regular.woff2) format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src: local("SFProDisplay-Semibold"),
      url(../fonts/SFProDisplay-Semibold.woff) format("woff"),
      url(../fonts/SFProDisplay-Semibold.woff2) format("woff2");
  font-weight: bold;
}

*, 
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  background: #F5F5F5;
}

button, 
input,
a 
{
  outline: none;
}

.header {
  background-color: #FA8C16;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;

}

.container {
  padding: 16px 0;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.content {
  padding: 16px 0;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  margin-left: 60px;
  margin-right: auto;
}

.header__menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header__item {
  margin-right: 15px;
}

.header__link {
  text-decoration: none;
  color: #fafafa;
  font-size: 14px;
  line-height: 22px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__search {
  max-width: 237px;
  width: 60%;
  height: 32px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.header__search-input {
  height: 100%;
  width: 80%;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding-left: 16px;
}

.header__search-input::-webkit-input-placeholder {color: #bfbfbf;}
.header__search-input::-moz-placeholder          {color: #bfbfbf;} 
.header__search-input:-moz-placeholder           {color: #bfbfbf;} 
.header__search-input:-ms-input-placeholder      {color: #bfbfbf;}
.header__search-input::-ms-input-placeholder     {color: #bfbfbf;}
.header__search-input::placeholder               {color: #bfbfbf;}   

.header__search-button {
  position: absolute;
  height: 100%;
  width: 20%;
  right: 0;
  top: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-toggle {
  display: none;
}

.posts {
  width: 67%;
}

.post {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

.post__body {
  padding: 35px;
  padding-bottom: 0;
}
.post__title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.post__text {
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}
.post__tags {
  margin-bottom: 22px;
  
}

.post__tag {
  color: #bfbfbf;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  text-decoration: none;
}

.post__tag:last-child {
  margin-right: 0;
}

.post__footer {
  border-top: 1px solid #e8e8e8;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 13px 35px;
}

.post__buttons {
  display: flex;
}

.post__button .icon { 
  fill: #8c8c8c;
}

.post__button {
  background-color: transparent;
  border: none;
  color:#8c8c8c;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  outline: none;
}

.icon-like,
.icon-comment {
  margin-right: 6px;
}

.post__author {
  display: flex;
  align-items: center;
  text-align: right;
}

.post__author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.post__author-username {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  text-decoration: none;
  line-height: 20px;
}

.post__time {
  color: #bfbfbf;
  font-size: 12px;
  line-height: 20px;
}

.sidebar {
  width: 31%;
}

.user {
  padding: 15px 25px;
  background-color: #Fafafa;
  border: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user__info {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user__avatar {
  margin-right: 17px;
  border-radius: 50%;
}

.user__name {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #595959;

}

.icon-exit {
  width: 20px;
  height: 20px;
  fill: #000;
}

.sidebar__nav {
  background-color: #fff;
}

.sidebar__menu {
  margin: 0;
  border: 1px solid #E8E8E8;
  border-top: none;
  list-style-type: none;
  padding: 0;
}

.sidebar__menu-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 16px 48px;
  display: inline-block;
  width: 100%;
}

.sidebar__menu-link:hover {
  background-color: #FFFBE6;
}

.sidebar__menu-link.active {
  background-color: #FFFBE6;
  color: #FAAD14;
  border-right: 3px solid #FAAD14;
}

.button {
  background:#faad14;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
  cursor: pointer;
}

.button__new-post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.icon-fire {
  fill: #fff;
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

.card {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
}

.card__header {
  background: #FAFAFA;
  border-bottom: 1px solid #E8E8E8;
  padding: 23px 25px;
}

.card__title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.card__body {
  padding: 22px 40px 20px 25px;
}

.card__body-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #D48806;
  text-decoration: none;
}

.card__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #262626;

  margin: 10px 0;
}

.promo {
  display: block;
  background: #fff url('../img/promo.jpg') no-repeat center / cover;
  width: 100%;
  height: 260px;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  position: relative;
}

.promo::before {
  content: 'Реклама';
  position: absolute;
  top: 0;
  right: 0;
  background: #c4c4c4;
  color: #fff;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 12px;
  line-height: 20px;
}

.add__post {
  display: flex;
  flex-direction: column;
}

.add__title,
.add__text {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  padding: 23px 31px;
}

.add__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin-bottom: 16px;
}

.add__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-family: "SFProDisplay-Regular", sans-serif;
  min-height: 362px;
  margin-bottom: 30px;
}

.add__button {
  margin-right: 24px;
  max-width: 370px;
  width: 100%;
}

.icon-photo,
.icon-video {
  fill: #FFC53D;
  width: 14px;
  height: 11px;
}

.button__outline {
  background: #FFFFFF;
  border: 1px solid #FFC53D;
  color: #ffc53d;
  margin-left: 1%;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}


@media (max-width: 990px) {
  .header {
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }
  .header__menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 12px;
  }
  .header__menu-toggle span {
    height: 2px;
    width: 100%;
    background-color: #ffffff;
  }
  .content {
    margin-top: 94px;
    margin-bottom: 60px;
  }
  .sidebar {
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    max-width: 320px;
    width: 100%;
    height: calc(100% - 64px);
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
    padding: 30px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
    overflow-y: scroll;
    z-index: 101;
  }
  .sidebar.visible {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
  .posts {
    width: 100%;
  }
  .header__nav {
    display: none;
  }
  .header__menu {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 670px) { 

  .add__buttons {
    display: flex;
    flex-direction: column;
  }
  
  .add__button {
    width: 100%;
    max-width: 100%;
  }

  .add__post .button__outline {
    margin-left: 0;
    margin-top: 10px;
  }
}


@media (max-width: 567px) {
  .post__footer {
    flex-direction: column;
  }
  .post__author {
    margin-top: 15px;
  }
  .post__author-about {
    order: 2;
    text-align-last: left;
  }
  .post__author-avatar {
    margin-left: 0;
    margin-right: 10px;
  }
}