@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
      url(../fonts/SFProDisplay-Regular.woff) format("woff"),
      url(../fonts/SFProDisplay-Regular.woff2) format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src: local("SFProDisplay-Semibold"),
      url(../fonts/SFProDisplay-Semibold.woff) format("woff"),
      url(../fonts/SFProDisplay-Semibold.woff2) format("woff2");
  font-weight: bold;
}

*, 
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  background: #F5F5F5;
}

button, 
input,
a 
{
  outline: none;
}

.header {
  background-color: #FA8C16;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.container {
  padding: 16px 0;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.content {
  padding: 16px 0;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  margin-left: 60px;
  margin-right: auto;
}

.header__menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header__item {
  margin-right: 15px;
}

.header__link {
  text-decoration: none;
  color: #fafafa;
  font-size: 14px;
  line-height: 22px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__search {
  width: 237px;
  height: 32px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.header__search-input {
  height: 100%;
  width: 80%;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding-left: 16px;
}

.header__search-input::-webkit-input-placeholder {color: #bfbfbf;}
.header__search-input::-moz-placeholder          {color: #bfbfbf;} 
.header__search-input:-moz-placeholder           {color: #bfbfbf;} 
.header__search-input:-ms-input-placeholder      {color: #bfbfbf;}
.header__search-input::-ms-input-placeholder     {color: #bfbfbf;}
.header__search-input::placeholder               {color: #bfbfbf;}   

.header__search-button {
  position: absolute;
  height: 100%;
  width: 20%;
  right: 0;
  top: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts {
  width: 67%;
}

.post {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

.post__body {
  padding: 35px;
  padding-bottom: 0;
}
.post__title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.post__text {
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}
.post__tags {
  margin-bottom: 22px;
  
}

.post__tag {
  color: #bfbfbf;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  text-decoration: none;
}

.post__tag:last-child {
  margin-right: 0;
}

.post__footer {
  border-top: 1px solid #e8e8e8;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 13px 35px;
}

.post__buttons {
  display: flex;
}

.post__button .icon { 
  fill: #8c8c8c;
}

.post__button {
  background-color: transparent;
  border: none;
  color:#8c8c8c;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  outline: none;
}

.icon-like,
.icon-comment {
  margin-right: 6px;
}

.post__author {
  display: flex;
  align-items: center;
  text-align: right;
}

.post__author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.post__author-username {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  text-decoration: none;
  line-height: 20px;
}

.post__time {
  color: #bfbfbf;
  font-size: 12px;
  line-height: 20px;
}

.sidebar {
  width: 31%;
}

.user {
  padding: 15px 25px;
  background-color: #Fafafa;
  border: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user__info {
  display: flex;
  align-items: center;
}

.user__avatar {
  margin-right: 17px;
  border-radius: 50%;
}

.user__name {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.icon-exit {
  width: 20px;
  height: 20px;
  fill: #000;
}

.sidebar__nav {
  background-color: #fff;
}

.sidebar__menu {
  margin: 0;
  border: 1px solid #E8E8E8;
  border-top: none;
  list-style-type: none;
  padding: 0;
}

.sidebar__menu-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 16px 48px;
  display: inline-block;
  width: 100%;
}

.sidebar__menu-link:hover {
  background-color: #FFFBE6;
}

.sidebar__menu-link.active {
  background-color: #FFFBE6;
  color: #FAAD14;
  border-right: 3px solid #FAAD14;
}

.button {
  background:#faad14;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
}

.button__new-post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.icon-fire {
  fill: #fff;
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

.card {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
}

.card__header {
  background: #FAFAFA;
  border-bottom: 1px solid #E8E8E8;
  padding: 23px 25px;
}

.card__title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.card__body {
  padding: 22px 40px 20px 25px;
}

.card__body-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #D48806;
  text-decoration: none;
}

.card__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #262626;

  margin: 10px 0;
}

.promo {
  display: block;
  background: #fff url('../img/promo.jpg') no-repeat center / cover;
  width: 100%;
  height: 260px;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  position: relative;
}

.promo::before {
  content: 'Реклама';
  position: absolute;
  top: 0;
  right: 0;
  background: #c4c4c4;
  color: #fff;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 12px;
  line-height: 20px;
}
